@{
    ViewBag.Title = "Home Index";
}

<div ng-app="mainApp">
     <div ng-controller="mainController">
          <input type="text" ng-model="note" placeholder="Note" /> <br />
          <button type="button" class="btn" ng-click="addNote(note)">Add Note</button> <br />
          <table class="table">
             <thead>
                 <tr>
                     <th>Notes</th>
                 </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="note in notes">
                     <td>{{note}}</td>
                 </tr>
             </tbody>
         </table>
     </div>
</div>

@section Scripts {
    <script src="~/Scripts/apps/main/main.js"></script>
    <script src="~/Scripts/apps/main/noteService.js"></script>
    <script src="~/Scripts/apps/main/mainController.js"></script>
}

